td,
tr,
th {
    border: 2px solid #000900;
}

.navbar navbar-default {
    background-color: black;
}

.carousel1,
.carousel,
.what-we,
.who-we {
    text-align: center;
}

.why-choose,
.what-we {
    background-color: navajowhite;
}

#our,
#offer {
    text-emphasis-color: blue;
}

head {
    background-color: #999;
}

#about-tech {
    align-items: right;
}

.banner {
    margin: -25px 0px 0px -30px;
}

.border-underline-style {
    margin: 0 auto;
    height: 1px;
    background-image: linear-gradient(to right, #428ac9, #e64e90, #efa63b);
    width: 63%;
    margin-bottom: 20px;
}

image {
    border-right-style: dotted;
}

.navbar-nav li a {
    color: #ffffff;
}


/*
col-lg-2 col-xl-2 col-md-2 col-sm-2 col-3,
col-lg-1 col-xl-2 col-md-2 col-sm-2 col-3 {
    border-right-style: dotted;
}*/